@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

nav {
  background-color: #dddddd;
  color: #f04cb7;
  font-family: Arial, sans-serif;

}

nav a{
  text-decoration: none;
  color: #f04cb7;
  margin: 1.8em;
  display: inline-block;
}


body {
  text-align: center;
  background: #dddddd;
  color: #f04cb7;
  font-family: 'Sigmar One', cursive;
}

hr {
  width: 200px;
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  line-height: 1.5em;
  margin: 1.5em;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  line-height: 1em;
  margin: 1em;
}

img {
  display: block;
  margin: 0 auto;
} 


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  width: 50%;
  height: 6em;
  outline: 3px solid #222;
  text-align: center;
  line-height: 6em;
  color: #000;
  background: #fff;
}

#container {
  width: 960px;
  margin: 0 auto;
}

