@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

nav {
  float: left;
  background-color: #dddddd;
  color: #f04cb7;
  font-family: Arial, sans-serif;

}

body {
  text-align: center;
  background: #dddddd;
  color: #f04cb7;
  font-family: 'Sigmar One', cursive;
}
hr {
  width: 200px;
}

h1 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
	font-size: 2em;
}

p {
    font-family: 'Permanent Marker', cursive;
	font-size: 32px;
	line-height: 1.5em;
	margin: 2em;
}

#container {
  width: 960px;
  margin: 0 auto;
}