@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');

nav {
  font-size: 1.8em;
}

nav a{
  text-decoration: none;
  background-color: #dddddd;
  color: #66ffff;
  margin: .5em;
  display: inline-block;
}


body {
  text-align: center;
  background: #dddddd;
  color: #f04cb7;
  font-family: 'Sigmar One', cursive;
}


h1 {
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 60px;
  line-height: 1em;
  margin: 1em;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  line-height: 1em;
  margin: 1em;
}

p {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  line-height: .7em;
  margin: .7em;
}

img {
  display: block;
  margin: 0 auto;
} 







