@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
  text-align: center;
  background: #cccccc;
  color: #d11919;
  font-family: Helvetica;
}
hr {
  width: 200px;
}
p {
    font-family: 'Cabin Sketch', cursive;
	font-size: 32px;
	line-height: 1.5em;
	margin: 2em;
}
