@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  text-align: center;
  background: #cccccc;
  color: #f04cb7;
  font-family: 'Permanent Marker', cursive;
}
hr {
  width: 220px;
}
p {
    font-family: 'Permanent Marker', cursive;
	font-size: 32px;
	line-height: 1.5em;
	margin: 2em;
}
